*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000;
    color:#fff;
    font-family:'Inter', sans-serif;
    line-height:1.6;
}


nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    border-bottom:1px solid #222;
    position:sticky;
    top:0;
    background:#000;
}

nav h2{
    font-family:'Orbitron', sans-serif;
    font-size:18px;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#aaa;
    font-size:14px;
}

nav a:hover{
    color:#fff;
}


section{
    padding:80px 10%;
    border-bottom:1px solid #111;
}

h1, h2{
    font-family:'Orbitron', sans-serif;
    margin-bottom:20px;
}


.hero{
    background-image: url("https://www.pngmagic.com/inc/download.php?f=product_images%2FPlain-white-background-image.jpg&id=wb3");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:50vh;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:48px;
    color: black;
}

.hero-text p{
    color:rgb(81, 81, 81);
    margin-bottom:15px;
}

.hero img{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:50%;
    border:2px solid #333;
}


.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    border:1px solid #222;
    padding:20px;
    background:#111;
}

.card h3{
    margin-bottom:10px;
}


.project{
    margin-bottom:30px;
    padding:20px;
    border:1px solid #222;
    background:#111;
}

.project p{
    color:#aaa;
}


.contact a{
    color:#aaa;
    text-decoration:none;
}

.contact a:hover{
    color:#fff;
}


footer{
    text-align:center;
    padding:30px;
    color:#555;
}


@media(max-width:900px){
    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero img{
        margin-top:40px;
    }
}